# IGNORING SOME UNNECESARRY FILES
.directory
.ftpquota
/captcha_images
/DATABASE
/foto
/images
/dok_materi
/sql
/uploads
/user_guide

# IGNORING DB Config for each user machine
/application/config/database.php